

body {
  margin: 0px;
  background-color: #f0f2f5;
  color: #777777;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

#header {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  line-height: 60px;
  height: 44px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999
}

#header .header-sm {
  display: none;
}

#content-warp {
  margin-top: 60px;
}
#bn-body #content-warp{
  margin-left: 250px
}
#bn-body.full #bn-side-menu{
  display: none;
}
#bn-body.full #content-warp{
  margin-left: 10px
}


.copyright {
  margin-right: 20px;
  float: right;
}

.bn-icon {
  font-family: 'bn-icon';
  font-size: 15px;
  color: #888;
}

@media screen and (max-width: 900px) {
  #header .header-sm {
    display: block;
  }
  #header .header-normal {
    display: none;
  }
}

/*selectable directives*/
.selectable{
    margin-left: -18px;
    margin-right: -18px;
    line-height: 40px;
    padding: 0 18px
}
.selectable.selectable-active{
    background-color: rgb(201, 229, 245)
}

.selectable {
    transition: background-color 0.25s ease;
}

.el-table .fa{
  cursor: pointer;
  margin-left: 4px;
}

.el-button{
  border-radius: 0px;
}
.el-message{
  z-index: 999999 !important;
}